*.class

# Package Files #
*.jar
*.war

war/gwt_bree/*

*.launch

src/main/gwt-unitCache
target/

gwt-unitCache/*

.apt_generated/*

war/WEB-INF/deploy/*
war/WEB-INF/classes/*
src/main/webapp/WEB-INF/deploy/*
src/main/webapp/WEB-INF/classes/*
bin/*
/.settingsT
/.pmd
*~
/.gwt
src/main/webapp/bootstrap
src/main/webapp/showcase/
src/main/webapp/customcss.showcase
src/main/webapp/.gitignore
.project
.classpath
.settings/*
src/showcase/gwt-unitCache
src/showcase/webapp/.gitignore
src/showcase/webapp/bootstrap
src/showcase/webapp/com.geekvigarista.gwt.bootstrap.BootstrapJUnit
src/showcase/webapp/customcss.showcase
src/showcase/webapp/showcase/
