*.class

# Package Files #
*.jar
*.war

war/gwt_bree/*


src/main/gwt-unitCache
target/

gwt-unitCache/*

.apt_generated/*

war/WEB-INF/deploy/*
war/WEB-INF/classes/*
src/main/webapp/WEB-INF/deploy/*
src/main/webapp/WEB-INF/classes/*
bin/*
/.settings
/.pmd
*~
/.gwt
