[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git

[submodule "bootstrap-datepicker"]
	path = bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
